extends layout

block headerbar
  div#mainHeader
    div#title Pantry Pickup

block leftcontainer
  div#leftContainer
    div#filterWidget
      div#searchBar
      div#filterBar
    div#pantryList
      block pantryItem
      block pantryItem

block mapview
  div#mapContainer
    div.searchIndicatorBar
      span Viewing [this location]
    div#mapView

block infopanel
  div#infoPanel
    div#locationInfo
      div.locationName
      div.locationAdd1
      div.locationAdd1
      div.locationCity
      div.locationState
      div.locationZip
      div.locationPhone
      div.locationHours
    div#orgNeeds
      //To do in v2

block pantryItem
  span Item 1


block data
  script.
    window.pantries = !{JSON.stringify(pantries)}