extends layout

block content
  div#content
    div#mainHeader
      div#title Pantry Pickup

    div#leftContainer
      div#filterWidget
        div#searchBar
        div#filterBar
      div#pantryList

    div#mapContainer
      div.searchIndicatorBar
        span Viewing [this location]
      div#mapView

    div#infoPanel
      div#locationInfo
        div.locationName
        div.locationAdd1
        div.locationAdd1
        div.locationCity
        div.locationState
        div.locationZip
        div.locationPhone
        div.locationHours
      div#orgNeeds
        //To do in v2

    script(type="text/teplate", class="template", id="pantryListing").
      <h2><%- pantry.get('source') %></h2>

    script.
      window.pantries = !{JSON.stringify(pantries)}
