extends layout

block content
  div#content
    div#mainHeader
      div#title Pantry Pickup

    div#leftContainer
      div#filterWidget
        div#searchBar
        div#filterBar
      div#pantryList

    div#mapContainer
      div.searchIndicatorBar
        span Viewing [this location]
      div#mapView

    div#infoPanel
      div#locationInfo
      div#orgNeeds
        //To do in v2

    script(type="text/template", class="template", id="pantryListingTmpl").
      <h2><a class="name"><%- pantry.get('site_name') %></a></h2>
      <address class='address'>
        <div class='address1'><%- pantry.get('address') %></div>
        <div class='address2'><%- pantry.get('city') %>, MA <%- pantry.get('zipcode') %></div>
      </address>

    script(type="text/template", class="template", id="pantryDetailsTmpl").
      <a class="close">x</a>
      <h2><%- pantry.get('site_name') %></h2>
      <% if (pantry.get('website') != '') { %>[<a href="<%- pantry.get('website') %>" target="_blank">link</a>]<% } %>
      <address>
        <%- pantry.get('address') %><br>
        <%- pantry.get('city') %>, MA <%- pantry.get('zipcode') %>
      </address>
      <div class="phone"><%- pantry.get('phone') %></div>
      <div class="source">Source: <%- pantry.get('source') %></div>
      <% if (pantry.get('hours').length > 0) { %>
      <div class="hours">Hours:<br>
        <% _(pantry.get('hours')).each(function(hours) { %>
          Open from <%- hours.start %> until <%- hours.end %>
          <%- hours.repeats %> on <%- hours.repeatsOn %>
        <% }); %>
      </div>
      <% } %>
      <div class="needs">
        Food donations accepted: <%- pantry.get('food_donations_accepted') ? 'Yes' : 'No' %><br>
        <%- pantry.get('volunteers_should_contact') ? 'Currently' : 'Not currently' %> looking for volunteers.
      </div>

    script.
      window.pantries = !{JSON.stringify(pantries)}
