extends layout

block content
  div#content
    div#title
      span Pantry Pickup
        p this needs to be formatted

    span Info
      p some information about what this app is

    span Contact (caveman interface for adding new pantries)
      p Name
      p email

    span FAQ
      p Question A
      p Answer A
