body {font-family:"Lato", Helvetica, Arial, sans-serif;}
body, input {font-size:11pt;}
#infoPanel {width:22em;}
/*Bootstrap resets*/
a {
	font-family: "Lato", Helvetica, Arial, sans-serif;
}
#pantryList a, a:hover{
	text-decoration: none;
	color: #333;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", Helvetica, Arial, sans-serif;
}
#infoPanel a {
	color: #069;
}
#infoPanel a:hover{
	text-decoration: underline;
}
.modal-dialog{
	width:66%;
}
/*Main styles*/
#header,#search,#pantryList,#social {width:24em; box-shadow: 3px 0px 5px rgba(0,0,0,.15); z-index:1;}

#header {position:fixed; top:0; left:0; height:4em;
	font-family:"Quando", Georgia, serif; border-bottom:3px solid #570d13; z-index: 2;
}
#header {
/*	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#911520), to(#570d13));
	background:-moz-linear-gradient(top,  #911520,  #570d13);*/
	background-color:#911520;
	color:#fdf5a8; text-shadow:2px 2px 0px rgba(0,0,0,.5);
	text-align:center; vertical-align:center;
}
.site-title {font-size:18pt; margin-top:2pt;}
#site-logo {display:inline-block; vertical-align:bottom;
	width:40px; height:40px; margin:3px 10px 0 6px;
}

#search,#pantryList,#social {left:0;}
#search {position:fixed; top:0; left:24em; height:4em; padding: .5em 0; width:100%;
	background-color:#911520; border-bottom:3px solid #570d13; z-index:5;
}
#searchInput {width:30%; height:2.5em; margin-top:.2em; border-radius:3px; padding: 3px 8px; outline:none; border:1px solid #570d13; margin-right:.75em; font-weight:200;}
#searchInput:focus{box-shadow: 3px 3px 8px rgba(0,0,0,.25); border:1px solid #000;}
#searchSubmit {width:5em; padding: 4px 2px 6px 2px; background-color: #570d13; color:#FFF; font-weight:400; border-radius:3px; outline:none; border:none; cursor: pointer;}
#searchSubmit:hover{
	background-color: #432020;
}
#searchButton{display:none;}
#aboutButton{
	position:fixed;
	display:block;
	right:15px;
	top:8px;
	padding:7px 8px;
	border-radius:3px;
	color:#fdf5a8;
	font-weight: 400;
	font-size:18px;
	vertical-align: bottom;
	z-index:10;
	/*text-transform: uppercase;*/
}
#aboutButton:hover{
	text-decoration: none;
	cursor:pointer;
	background-color:rgba(0,0,0,.15);
}
#aboutButton #btnText{
	margin-left:5px;
}
#pantryList {position:fixed; top:4em; bottom:0; overflow-y:auto; border-right: 1px solid #666;
	font-weight:300; background-color: #fffefb; background: -webkit-linear-gradient(top, #fffefb, #fffef4); background: -moz-linear-gradient(top, #fffefb, #fffef4); background: -ms-linear-gradient(top, #fffefb, #fffef4);
}

.pantryListItem {border-top:1px solid #ffffff;
	border-bottom:1px solid #dedede;
	padding:0 1em 1em; cursor:pointer;
}
.pantryListItem.selected {border-left: 5px solid maroon;}
.pantryListItem:hover,.pantryListItem.selected {background-color:rgb(242,242,242);}
.pantryListItem h2 {font-size:18px; font-weight:normal;}

#mapContainer {position:fixed; top:4em; right:0; bottom:0; left:24em; z-index:0;}

#social {position:fixed; bottom:0; height:2em;}

#infoPanel {display:none; position:fixed; top:5em; right:-22em; bottom:1em;
	padding:1em; overflow-y:auto; z-index:10; border-radius:3px;
	background-color:#fcfcfc; border:1px solid #999;
	box-shadow:-3px 3px 5px rgba(0,0,0,.2);
	font-family: "Lato";
	box-sizing:border-box;
}

#mapView {position:absolute; top:0; left:0; bottom:0; right:0;}
#siteName {margin-top:0;}
.right {float:right; margin:0 0 1em 1em;}
.pointer {cursor:pointer;}
#detailClose{color:#404040;font-size: 24px;}
#detailClose:hover{color:#911520;}
#redoSearchBtn {background-color: #FFF;}
#redoSearchBtn:hover {background-color: #DEDEDE;}


#mobileViewToggle {display:none; text-align:center; vertical-align:center; color: #FFF;
	position:fixed; top:3em; left:0; width:100%; height:2.5em; background-color:#a13841 }
.mobileViewToggleOption {width:50%; padding:8px 0; float:left; display:inline-block;}
.mobileViewToggleOption:hover {background-color: #8c3039;}
#showList {border-right:2px solid #570d13;}
/*Put in current location button*/

@media mobile, handheld, all and (max-width:50em),
all and (view-mode:minimized){
	#pantryList {display:none;}
	/*#search{top:4em; left:0; width:100%; height:2em; text-align: center, vertical-align:middle;}*/
	#search{display:none;}
	#searchInput{width:66%; color:#333;}
	#searchSubmit{width:25%;}
	#aboutButton{background-color:rgba(0,0,0,.15); font-size:14px;}
	#btnText{display:none;}
	#mapContainer{display:block;}
	#mapContainer,#pantryList {top:5.5em; left:0;}
	#mobileViewToggle {display:block; z-index: 2}
	#infoPanel,#header,#search,#pantryList,#social {width:100%;}
	#infoPanel {border-radius:0; box-shadow:none; top:3em; left:0; bottom:0;}
	.modal-dialog{width:96%;}
	#header{height:3em;}
	.site-title {font-size:16pt; margin-top:4pt;}
	#site-logo {display:inline-block; vertical-align:bottom;
	width:30px; height:30px; margin:3px 10px 0 6px;}
	#aboutButton {top:4px; right:5px;}
	#searchButton{position:fixed; display:block; left:5px; top:4px; padding:7px 8px; border-radius:3px; color:#fdf5a8; font-weight: 400; font-size:14px; text-decoration: none; cursor:pointer; background-color:rgba(0,0,0,.15); z-index:10;}

}
